.mnemonic-component .input-group-addon {
	background-color: aliceblue !important;
	border: solid 1px;
	padding: 0px; 
}

.DisabledEye {
	color: darkgray
}

#OpenWallet_eye {
	padding: 8px 12px 8px 12px; 
}